.formulario-proyecto {
    background-color: #c7b1a5; 
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(112, 110, 110, 0.1); /* Sombra sutil */
    width: 80%; /* Reduce el ancho del formulario */
    max-width: 800px; /* Máximo ancho permitido */
    margin-top: 5em; /* Mueve el formulario hacia abajo dos renglones (equivalente a la altura del texto en 2 líneas) */
    margin-left: auto;
    margin-right: auto; /* Centra el formulario horizontalmente */
}
.has-text-left{
    color: #5e2727;
}