.home-container {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    flex-direction: column;
    text-align: center; /* Centra el texto horizontalmente */
}

.home-title {
    color: #5e2727;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para un efecto más marcado */
    font-family: 'Permanent Marker', sans-serif; /* Cambia la fuente a grafiti */
    font-size: 3rem; /* Tamaño de fuente más grande */
    line-height: 1.4;
    margin: 0;
    padding: 20px;
    background: transparent; /* Fondo blanco translúcido para mayor legibilidad */
    border-radius: 10px; /* Bordes redondeados */
    display: inline-block; /* Ajusta el tamaño del fondo al texto */
}

.home-content {
    padding: 20px;
    max-width: 80%; /* Limita el ancho del contenido para que no se extienda demasiado */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}
