.home-container1 {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center; /* Centra el texto */
}

.home-title {
    color: #5e2727; /* Color oscuro para el texto */
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7); /* Sombra clara para resaltar el texto */
    font-family: 'Arial', sans-serif; /* Cambia el tipo de tipografía */
    font-size: 2.5rem; /* Tamaño de fuente */
    line-height: 1.4; /* Altura de línea */
}



.home-container {
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos toda la altura de la pantalla */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Hace que el fondo permanezca fijo */
    display: flex;
    flex-direction: column;
}

.home-content {
    padding-top: 60px; /* Asegúrate de dejar espacio para el Nav fijo */

    flex: 1; /* Toma todo el espacio disponible antes del footer */
    
}