/* Estilo general */
.proyecto {
    background-color: #c7b1a5; 
    color: #333; /* Color de texto oscuro para contraste */
    width: 40%; /* Aumenta el ancho para que ocupe casi todo el renglón */
    max-width: 1200px; /* Máximo ancho para evitar que sea demasiado grande en pantallas anchas */
    height: auto; /* Permite que la altura se ajuste automáticamente al contenido */
    min-height: 150px; /* Altura mínima ajustada para que sea menos alta */
    margin: 10px auto; /* Reduce la separación entre tarjetas */
    margin-top: 2rem;
    margin-left: 3cm;
    padding: 20px; /* Padding interno para dar espacio al contenido */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    display: flex;
    flex-direction: column; /* Alinea el contenido en columna */
    justify-content: space-between; /* Distribuye el contenido de la tarjeta */
    align-items: flex-start; /* Alinea el contenido al inicio */
}

.proyecto-content {
    flex: 1; /* Ocupa todo el espacio disponible */
    padding-right: 20px; /* Espacio entre el contenido y el botón de eliminar */
    overflow: hidden; /* Esconde el contenido que se sale del área visible */
    white-space: normal; /* Permite que el texto ocupe varias líneas */
    text-overflow: clip; /* Muestra todo el texto sin agregar puntos suspensivos */
}

.proyecto .subtitle {
    font-size: 1rem; /* Ajustado al tamaño adecuado */
    color: #5e2727; /* Color marrón oscuro */
}

.proyecto .content p {
    font-size: 0.9rem; /* Tamaño de fuente más pequeño para el contenido */
}

/* Estilo de los botones */
.button-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.button {
    background-color: #8a1414;
    border-color: transparent;
    color: #fff;
    padding: 0.75rem;
    font-size: 1.1rem;
    border-radius: 5px;
    text-align: center;
    width: 120px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #5e2727;
}

.submit-button {
    background-color: #8a1414;
}

.cancel-button {
    background-color: #8a1414;
}

/* Estilo del modal */
.modal-content .box {
    background-color: #fefefe; /* Fondo blanco para el modal */
    padding: 20px;
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Estilo de los mensajes de estado */
.status-message {
    color: #333;
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
}


/* estilo nuevo modal */

.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo para permanecer en su lugar */
    z-index: 1; /* Por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Completa el ancho de la pantalla */
    height: 100%; /* Completa la altura de la pantalla */
    overflow: auto; /* Scroll si el contenido es mayor que la ventana */
    background-color: rgb(0,0,0); /* Fondo negro */
    background-color: rgba(0,0,0,0.4); /* Fondo con transparencia */
  }

  /* Estilos para el contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centrado verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ajusta el ancho según tus necesidades */
  }
  
  /* Estilos para el botón de cerrar */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  