.tarea {
    background-color: #c7b1a5; /* Marrón clarito */
    color: #333; /* Color de texto oscuro para contraste */
    width: 90%; /* Aumenta el ancho para que ocupe casi todo el renglón */
    max-width: 1200px; /* Máximo ancho para evitar que sea demasiado grande en pantallas anchas */
    height: auto; /* Permite que la altura se ajuste automáticamente al contenido */
    min-height: 200px; /* Aumenta la altura mínima para mostrar más contenido */
    margin: 10px auto; /* Reduce la separación entre tarjetas */
    margin-top: 2rem;
    padding: 20px; /* Padding interno para dar espacio al contenido */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    display: flex;
    flex-direction: column; /* Alinea el contenido en columna */
    justify-content: space-between; /* Distribuye el contenido de la tarjeta */
    align-items: flex-start; /* Alinea el contenido al inicio */
}

.tarea-content {
    flex: 1; /* Ocupa todo el espacio disponible */
    padding-right: 20px; /* Espacio entre el contenido y el botón de eliminar */
    overflow: hidden; /* Esconde el contenido que se sale del área visible */
    white-space: normal; /* Permite que el texto ocupe varias líneas */
    text-overflow: clip; /* Muestra todo el texto sin agregar puntos suspensivos */
}

.title {
    font-size: 2.5rem; /* Tamaño de la letra más grande */
    text-align: center; /* Centra el texto horizontalmente */
    margin-top: 3rem; /* Margen superior de 3rem */
    color: #333; /* Color del texto (opcional) */
}

.tarea .button.is-danger {
    padding: 10px 20px;
    align-self: flex-end; /* Coloca el botón en la parte inferior derecha */
    margin-top: 10px;
}

.tarea-content .titulo-tarea {
    margin-bottom: 5px;
    color: #5e2727; /* Un color marrón más oscuro */
}

.tarea-content .subtitulo-proyecto {
    margin-bottom: 10px;
    color: #8a1414; /* Un gris suave */
}

.modal-content .box {
    background-color: #fefefe; /* Fondo blanco para el modal */
    padding: 20px;
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
