
.tareas-lista {
    display: flex;
    flex-direction: column;
    gap: 3rem; /* Espacio entre las tarjetas */
}

.tarea-item {
    
    width: 50%; /* Para que la tarjeta ocupe todo el ancho disponible */
    /* background-position: center; */
    
}

/* Asegurarse de que el fondo cubra toda la página */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}




